---
import "../style/global.css"
import BaseLayout from "../layout/BaseLayout.astro";

const identity = {
    firstName: "Nour El Din",
    lastName: "Tawfik",
    country: "Egypt",
    occupation: "Freelancer",
    hobbies: ["Listening to Music", "Video Games", "Programming"]
}

const skills = ["HTML", "CSS & SASS", "JavaScript", "Astro", "Flutter"]

const happy = true;
const finished = false;
const goal = 3;

const done : number = 2;
let message;
switch (done) {
    case 1:
        message = "Good, but not good enough"
        break;

    case 2:
        message = "Good job bro!"
        break;

    case 3:
        message = "Hell yeah brother!"
        break;

    default:
        message = "You suck at everything man"
        break;
}

const skillColor = "darkorange";
const fontWeight = 700;
const textCase = "uppercase";
---
<BaseLayout pageTitle="About Moi">
    <section>
        <h2>Who Am I</h2>
        <p>My name is {identity.firstName} {identity.lastName}, I'm a 22 year old aspiring software developer and {identity.occupation} with a passion of building creative and inspiring websites</p>
        <p>I'm currently learning Astro to build static websites!</p>
        <p>I'm Based in {identity.country}</p>
        <hr>
        <p>My hobbies are:</p>
        <ul>
            {identity.hobbies.map((hobby) => <li>{ hobby }</li>)}
        </ul>

        <p>My Skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>

        {happy && <p>I'm a one happy mother effer!</p>}
        {finished && <p>I've finished this tutorial</p>}
        {goal === 3 ? <p>Noice!</p> : <p>You suck ass mate!</p>}
        <p>{message}</p>
    </section>
</BaseLayout>

<style define:vars={{skillColor, fontWeight, textCase}}>
    .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
    }
</style>